---
title: DyNet - The Dynamic Neural Network Toolkit
layout: base
---





<div class="text-center">
  <div class="container" style="padding-top:6rem;">

    <span style="height: 200px;">
      {% include logo.svg %}
    </span>

    <h2 class="pt-2 pb-4" style="margin-bottom: 6rem;">
      The Dynamic Neural Network Toolkit
    </h2>
  </div>
</div>




<div class="site-bg-lightgray">
  <div class="container">

    {% assign index_feat_1 = 'Dynamic Computational Graph' %}
    {% assign index_feat_text_1 = 'DyNet builds its computational graph on the fly. This makes variable-input and variable-output models simple to implement with high performance' %}
    {% assign index_feat_button_1 = 'Learn more' %}
    {% assign index_feat_button_url_1 = '#' %}

    {% assign index_feat_2 = 'Dynamic Operation Batching' %}
    {% assign index_feat_text_2 = 'DyNet automatically reorganizes operations into batches for maximum performance, without requiring the developer to do so' %}
    {% assign index_feat_button_2 = 'See our NIPS paper' %}
    {% assign index_feat_button_url_2 = '#' %}

    {% assign index_feat_3 = 'Ideal for Natural Language Processing' %}
    {% assign index_feat_text_3 = 'DyNet is well-suited for machine translation, syntactic parsing, morphological inflection, and other areas with models that have dynamic structures that change at every training instance.' %}
    {% assign index_feat_button_3 = 'Learn more' %}
    {% assign index_feat_button_url_3 = '#' %}

    <div class="row text-center">
      <div class="col-sm">
        <h3>
          {{ index_feat_1 }}
        </h3>
      </div>
      <div class="col-sm">
        <h3>
          {{ index_feat_2 }}
        </h3>
      </div>
      <div class="col-sm">
        <h3>
          {{ index_feat_3 }}
        </h3>
      </div>
    </div>

    <div class="row text-justify">
      <div class="col-sm">
        <p>
          {{ index_feat_text_1 }}
        </p>
      </div>
      <div class="col-sm">
        <p>
          {{ index_feat_text_2 }}
        </p>
      </div>
      <div class="col-sm">
        <p>
          {{ index_feat_text_3 }}
        </p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-sm">
        <a class="btn btn-outline-dark" href="{{ index_te_button_url_1 }}">
          {{ index_feat_button_1 }}
        </a>
      </div>
      <div class="col-sm">
        <a class="btn btn-outline-dark" href="{{ index_te_button_url_2 }}">
          {{ index_feat_button_2 }}
        </a>
      </div>
      <div class="col-sm">
        <a class="btn btn-outline-dark" href="{{ index_te_button_url_3 }}">
          {{ index_feat_button_3 }}
        </a>
      </div>
    </div>

  </div>
</div>




<div class="site-bg-white">
  <div class="container">
    <h1 class="pt-5 pb-3 my-0">
      Get Started
    </h1>

    <div class="input-group pb-5">
      <input type="text" class="form-control" value="pip install git+https://github.com/clab/dynet#egg=dynet" readonly>
      <span class="input-group-btn">
        <button class="btn btn-outline-dark">Copy</a>
      </span>
    </div>
  </div>
</div>







<div class="site-bg-lightgray">
  <div class="container">

    {% assign index_te_title_1 = 'Tutorials' %}
    {% assign index_te_url_1 = 'http://dynet.readthedocs.io/en/latest/tutorial.html' %}
    {% assign index_te_text_1 = 'Learn how to use DyNet' %}
    {% assign index_te_button_text_1 = 'Browse tutorials' %}

    {% assign index_te_title_2 = 'Examples' %}
    {% assign index_te_url_2 = 'http://dynet.readthedocs.io/en/latest/examples.html' %}
    {% assign index_te_text_2 = 'Browse projects built using DyNet' %}
    {% assign index_te_button_text_2 = 'Explore examples' %}

    <div class="row">
      <div class="col-sm">
        <div class="row justify-content-center">
          <h2 class="py-5 my-0">
            {{ index_te_title_1 }}
          </h2>
        </div>
        <div class="row justify-content-center">
          {% include book.svg %}
        </div>
        <div class="row justify-content-center">
          <h6 class="pt-3 pb-5 my-0" style="color: #8f8fb1;">
            {{ index_te_text_1 }}
          </h6>
        </div>
        <div class="row justify-content-center">
          <a class="btn btn-outline-dark mb-5" href="{{ index_te_url_1 }}">
            {{ index_te_button_text_1 }}
          </a>
        </div>
      </div>

      <div class="col-sm">
        <div class="row justify-content-center">
          <h2 class="py-5 my-0">
            {{ index_te_title_2 }}
          </h2>
        </div>
        <div class="row justify-content-center">
          {% include grid.svg %}
        </div>
        <div class="row justify-content-center">
          <h6 class="pt-3 pb-5 my-0" style="color: #8f8fb1;">
            {{ index_te_text_2 }}
          </h6>
        </div>
        <div class="row justify-content-center">
          <a class="btn btn-outline-dark mb-5" href="{{ index_te_url_2 }}">
            {{ index_te_button_text_2 }}
          </a>
        </div>
      </div>
  </div>
</div>






<div style="background-color: #ffffff">
  <div class="container">
    <h1 class="pt-5 pb-2 text-center">
      Companies &amp; Universities supporting DyNet
    </h1>

    {% assign index_comp_title_1 = 'Carnegie Mellon University' %}
    {% assign index_comp_url_1 = '/assets/contributors/cmu.png' %}
    {% assign index_comp_title_2 = 'Bar-Ilan University' %}
    {% assign index_comp_url_2 = '/assets/contributors/biu.jpg' %}
    {% assign index_comp_title_3 = 'Allen Institute for Artificial Intelligence' %}
    {% assign index_comp_url_3 = '/assets/contributors/ai2.png' %}
    {% assign index_comp_title_4 = 'Petuum' %}
    {% assign index_comp_url_4 = '/assets/contributors/petuum.png' %}
    {% assign index_comp_title_5 = 'Nara Institute of Science and Technology' %}
    {% assign index_comp_url_5 = '/assets/contributors/naist.png' %}
    {% assign index_comp_title_6 = 'University of Washington' %}
    {% assign index_comp_url_6 = '/assets/contributors/uw.jpg' %}
    {% assign index_comp_title_7 = ' ' %}
    {% assign index_comp_url_7 = ' ' %}
    {% assign index_comp_title_8 = ' ' %}
    {% assign index_comp_url_8 = ' ' %}

    <div class="row align-items-center">
      <div class="col-6 col-md-3">
        <img class="img-fluid p-5" src="{{ index_comp_url_1 }}" alt="{{ index_comp_title_1 }}"/>
      </div>
      <div class="col-6 col-md-3">
        <img class="img-fluid p-5" src="{{ index_comp_url_2 }}" alt="{{ index_comp_title_2 }}"/>
      </div>
      <div class="col-6 col-md-3">
        <img class="img-fluid p-5" src="{{ index_comp_url_3 }}" alt="{{ index_comp_title_3 }}"/>
      </div>
      <div class="col-6 col-md-3">
        <img class="img-fluid p-5" src="{{ index_comp_url_4 }}" alt="{{ index_comp_title_4 }}"/>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-6 col-md-3">
        <img class="img-fluid p-5" src="{{ index_comp_url_5 }}" alt="{{ index_comp_title_5 }}"/>
      </div>
      <div class="col-6 col-md-3">
        <img class="img-fluid p-5" src="{{ index_comp_url_6 }}" alt="{{ index_comp_title_6 }}"/>
      </div>
      <div class="col-6 col-md-3 ">
        <!-- <img class="img-fluid p-5" src="{{ index_comp_url_7 }}" alt="{{ index_comp_title_7 }}"/> -->
      </div>
      <div class="col-6 col-md-3">
        <!-- <img class="img-fluid p-5" src="{{ index_comp_url_8 }}" alt="{{ index_comp_title_8 }}"/> -->
      </div>
    </div>

  </div>
</div>
