<header id="nav-header">
  <div class="container">
      <a id="nav-title" href="{{ "/" | relative_url }}">
        <span style="stroke-width: 4; height: 32px; display: inline-block; vertical-align: middle;">
          {% include logo.svg %}
        </span>
      </a>

      {% if site.header_pages %}
        <nav id="nav-container">
          <input type="checkbox" id="nav-trigger"/>
          <label for="nav-trigger" id="nav-trigger-label">
            {% include icon-menu.svg %}
          </label>

          <div id="nav-menu">
            {% for path in site.header_pages %}
              {% assign current_page = site.pages | where: "path", path | first %}
              {% if current_page.title %}
                {% if current_page.redirect_to %}
                  {% assign current_link = current_page.redirect_to %}
                {% else %}
                  {% assign current_link = current_page.url | relative_url %}
                {% endif %}
                <a href="{{ current_link }}">
                  {{ current_page.title | escape }}
                  {% if current_page.redirect_checkbox %}
                    {% include redirect.svg %}
                  {% endif %}
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </nav>
      {% endif %}
  </div>
</header>
