<header>
  <div class="container">

    <nav class="navbar navbar-expand-md navbar-dark">

      <a class="navbar-brand" href="{{ "/" | relative_url }}">
        <span style="stroke-width: 4; height: 32px; display: inline-block; vertical-align: middle;">
          {% include logo.svg %}
        </span>
      </a>

      <input type="checkbox" id="navbar-collapse-trigger" style="display: none;"/>
      <label for="navbar-collapse-trigger">
        <button class="navbar-toggler" type="button" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </label>

      {% if site.header_pages %}
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            {% for path in site.header_pages %}
              {% assign current_page = site.pages | where: "path", path | first %}
              {% if current_page.title %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ current_page.url | relative_url }}">
                    {{ current_page.title | escape }}
                    {% if current_page.redirect_to %}
                      {% include redirect.svg %}
                    {% endif %}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </nav>
  </div>
</header>
