---
---

@import "syntax-highlighting";

// collapsible navigation menu without javascript using invisible checkbox
.navbar-expand-md {
  input:checked ~ .navbar-collapse {
    display: flex !important; // show menu if checkbox checked
    .ml-auto {
      margin-left: 0 !important; // right-align if checkbox checked
    }
  }
}

// color definitions
$site-color-dark:       #1b1b63 !default;
$site-color-med:        #2575fc !default;
$site-color-light:      #eeeeff !default;
$site-color-darkgray:   #9090b2 !default;
$site-color-lightgray:  #f9f9fb !default;

$site-text-color:       #1b1b63 !default;
$site-text-color-invert:   #eee !default;


// fonts
$font-family-sans-serif: Source Sans Pro, Arial, sans-serif;
$font-weight-normal: 400;
$headings-font-weight: 300;
$h6-font-size: 1.125rem;
$link-hover-decoration: none;
h1,h2,h3,h4,h5,h6 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}


// svg
svg {
  height: inherit;
}


// bootstrap color override
$body-bg:       $site-color-dark;
$body-color:    $site-text-color-invert;

$input-disabled-bg:              $site-color-lightgray;

$navbar-dark-color:                 $site-color-light;
$navbar-dark-hover-color:           $site-color-darkgray;
$navbar-dark-active-color:          $site-color-light;
$navbar-dark-disabled-color:        $site-color-light;
$navbar-dark-toggler-border-color:  $site-color-light;

$theme-colors: (
  primary: $site-color-med,
  secondary: $site-color-light,
  success: #28a745, // bootstrap default
  info: #17a2b8, // bootstrap default
  warning: #ffc107, // bootstrap default
  danger: #dc3545, // bootstrap default
  light: $site-color-lightgray,
  dark: $site-color-dark,
);


// background image
body {
  background-image: url('../assets/background.png');
  background-size: 100% auto;
  background-position: top center;
  background-repeat: repeat-y;
}


// logo svg colors
.logo-color-1 {
  fill: $site-text-color-invert;
  stroke: $site-text-color-invert;
}
.logo-color-2 {
  fill: $site-color-darkgray;
  stroke:$site-color-darkgray;
}


// color classes
.site-bg-dark {
  background: linear-gradient(245deg, #6a11cb, #2575fc) no-repeat center center fixed;
  background-size: cover;
  color: $site-text-color-invert;
}
.site-bg-med {
  background-color: $site-color-med;
  color: $site-text-color-invert;
}
.site-bg-light {
  background-color: $site-color-light;
  color: $site-text-color;
}
.site-bg-white {
  background-color: #ffffff;
  color: $site-text-color;
}
.site-bg-darkgray {
  background-color: $site-color-darkgray;
  color: $site-text-color;
}
.site-bg-lightgray {
  background-color: $site-color-lightgray;
  color: $site-text-color;
}






// bootstrap core CSS
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/print";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// bootstrap components: disabled to save compile time
@import "bootstrap/transitions";
// @import "bootstrap/dropdown";
// @import "bootstrap/button-group";
@import "bootstrap/input-group";
// @import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
// @import "bootstrap/card";
// @import "bootstrap/breadcrumb";
// @import "bootstrap/pagination";
// @import "bootstrap/badge";
// @import "bootstrap/jumbotron";
// @import "bootstrap/alert";
// @import "bootstrap/progress";
// @import "bootstrap/media";
// @import "bootstrap/list-group";
// @import "bootstrap/close";
// @import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";
@import "bootstrap/utilities";
