---
---


// collapsible navigation menu without javascript using invisible checkbox
.navbar-expand-md {
  input:checked ~ .navbar-collapse {
    display: flex !important; // show menu if checkbox checked
    .nav-item {
      text-align: right !important; // right-align if checkbox checked
    }
  }
}


// svg overrides
svg {
  height: inherit;
  width: inherit;
}


// fonts
$font-family-sans-serif: Source Sans Pro, Arial, sans-serif;
$font-weight-normal: 400;
$headings-font-weight: 300;
$h6-font-size: 1.125rem;
$link-hover-decoration: none;
h1,h2,h3,h4,h5,h6 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
p {
  text-align: justify;
}


// background image
body {
  background-image: url('../assets/background.jpg');
  background-size: 100% auto;
  background-position: top center;
  background-repeat: repeat-y;
}


// color definitions
$theme-colors: (
  primary: #2575fc, // used for hyperlinks
  light: #f9f9fb, // used for text on dark backgrounds, light gray backgrounds
  dark: #1b1b63, // used for text and buttons

  // set remaining colors to bootstrap default
  secondary: #868e96,
  success: #28a745,
  info: #17a2b8,
  warning: #ffc107,
  danger: #dc3545,
);


// bootstrap color overrides
$body-bg:       map-get($theme-colors, "dark");
$body-color:    map-get($theme-colors, "light");

$input-disabled-bg:              map-get($theme-colors, "light");

$navbar-dark-color:                 map-get($theme-colors, "light");
$navbar-dark-toggler-border-color:  map-get($theme-colors, "light");


// set syntax highlighting background
.highlight {
    background: map-get($theme-colors, "light");
    .highlighter-rouge & {
      background: map-get($theme-colors, "light");
    }
}


// import syntax highlighting colors
@import "syntax-highlighting";

// bootstrap core CSS
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/print";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// bootstrap components: disabled to save compile time
@import "bootstrap/transitions";
// @import "bootstrap/dropdown";
// @import "bootstrap/button-group";
@import "bootstrap/input-group";
// @import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
// @import "bootstrap/card";
// @import "bootstrap/breadcrumb";
// @import "bootstrap/pagination";
// @import "bootstrap/badge";
// @import "bootstrap/jumbotron";
// @import "bootstrap/alert";
// @import "bootstrap/progress";
// @import "bootstrap/media";
// @import "bootstrap/list-group";
// @import "bootstrap/close";
// @import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";
@import "bootstrap/utilities";
